p{
	  font-size:22px;
		  color: #FF00BF;
	}
	.content-wrapper p{
	text-transform:uppercase;
	  color:#FF00BF;
	  margin:20px 0px 60px 0px;
	}
html {
	width:100%;
	height:100%;
	font-family:'Reenie Beanie', cursive;
	}
	h1{
	 text-align: center;
	  font-size:60px;
	  color:##FF00BF;
	  margin: 0;
	}
	h2{
		color:#000000;
		font-size:42px;
}
